<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <i class="material-icons">cloud</i>Blog App</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a routerLink="/home">Begining</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="userService.roleMatch(['Admin'])">
          <a routerLink="/adminPanel">Admin Panel</a>
        </li>
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <form #AddNewArticle="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(postName.value, postText.value)">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">brush</i>
        <input type="text" #postName ngModel name="postName" placeholder="New Post Name" required>
        
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">border_color</i>
          <input type="text" #postText ngModel name="postText" placeholder="New Post Text" required>
          
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!AddNewArticle.valid" class="btn-large btn-submit" type="submit">Add new Post</button>
        </div>
      </div>
  </form>