<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <i class="material-icons">cloud</i>Blog App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/adminPanel">Admin Panel</a>
      </li>
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="input-field col s12">
  <button class="btn-large" (click)="clicked()">Get All Posts</button>
</div>
<div class="input-field col s12">
  <button class="btn-large" (click)="clickedAddNewPost()">Add New Post</button>
</div>


<div class="row" *ngIf="articles">
  <h4>Please, choose Post</h4>
  <ul *ngFor="let article of articles">
    <li>
      <a href="#" (click)="$event.preventDefault(); navigateToArt(article.Id)">
        <H5>Post Name: {{article.PostName}}</H5>
        Posted on: {{article.Date | date:"dd/MM/yyyy" }}
      </a>
    </li>
  </ul>
</div>

